@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --font-body: Roboto, sans-serif;
  --font-headline: 'Chakra Petch', sans-serif;

  /* colors */
  --primary-color: #032B43;
  --secondary-color: #3F88C5;
  --accent1-color: #D00000;
  --accent2-color: #3faac5;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

html {
  
    background: url('/images/stars-2643089_1280.jpg') top right repeat;
    background-size: cover;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--light-grey);
  width: 100vw;
  height: 100vh;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--accent2-color);

}

a:hover {
  color: var(--light-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 90%;
  margin: auto;
}

main {
  flex: 1;
  width: 90%;
  margin: auto;
}
.logo {
  line-height: 200px;
  overflow: hidden;
  display: flex;
  font-size: 5em;
  text-align: right;
  font-family: var(--font-headline);
  font-weight: bold;
  color: var(--accent1-color);
}

.logo img {
  width: 200px;
  height: auto;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

/* utility classes */

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Breadcrumbs */
ul#breadcrumb {
  padding: 0;
  list-style: none;
}

ul#breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: " /\00a0";
}

ul#breadcrumb li a {
  color: #cd8b51;
  text-decoration: none;
}

ul#breadcrumb li a:hover {
  color: var(--dark-grey);
  text-decoration: underline;
}

/* End Breadcrumbs*/

/* Watchlist icon styles */
.watchlist-container {
  height: 200px;
}
.watchlist {
  display: block;
  font-family: var(--font-headline);
  color: var(--accent1-color);
  font-size: 2em;
  margin: 100% auto;
}

.watchlist svg {
  display: inline-block;
  height: 50px;
  fill: var(--light-grey);
  margin-left: 20px;
}
.watchlist:hover svg {
  fill: var(--accent1-color);
}

.slideout {
  display: inline-block;
  width: 0;
  white-space: nowrap;
  direction: rtl;
  color: rgba(255, 255, 255, 0);
  transition: .5s;
  transform: translateX(20px);
  pointer-events: none;
  
}

.watchlist:hover .slideout {
  color: var(--accent1-color);
  transform: translateX(-70px);
  text-shadow: 0 0 .8em #000, 0 0 .8em #000, 0 0 1em #000, 0 0 1em #000;
}

/* End watchlist icon styles */
footer {
  background-color: black;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-headline);
  color: var(--accent2-color);
  font-size: 1.5em;
  width: 90%;
  margin: auto;
}

/* -----------Cards-------------------*/

.asteroid-choices {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  font-family: var(--font-headline);
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--light-grey);
  text-decoration: none;
  text-align: center;
  margin: 80px auto 80px auto;
  row-gap: 20px;
  column-gap: 20px;
}

.choice-card {
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 25px var(--accent2-color);
}

.image-container {
  width: 95%;
  height: 80%;
  margin: 2.5% 2.5%;
}

.choice-card p {
  width: 95%;
  height: 10%;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: auto auto;
}

.choice-card img {
  width:95%;
  height: 95%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 1px var(--accent2-color);
  filter: brightness(1.1);
  filter: saturate(1.1);
}

.choice-card:hover {
  transform: scale(1.2,1.2);
  filter: brightness(1.2);
  filter: saturate(1.4);
  border: 2px solid var(--accent2-color);
}
/* -----------End Cards---------------*/

/* -----------Credits-----------------*/

.credits {
  width: 70%;
  height: 90%;
  font-size: 1.5em;
  font-family: var(--font-headline);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 20px;
  margin: auto;
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
}
.credits li{
  padding: 10px;
}
/* -----------End Credits-------------*/

#photoofday {
  font-size: 2em;
  font-weight: bold;
  width: 80%;
  margin: auto;
}